<div class="main_image">
  <div class="image-container">
    <%= image_tag "top.png", class: "fullscreen-image active" %>
  </div>
  <body class="font-body">
    <div class="m-12 text-center">
      <div class="text-primary font-body">
        <div class="items-center text-center pt-20 pb-10">
          <p class="text-4xl text-defaul text-gray-700">使い方</p>
          <p class="text-2xl pt-10 text-default text-gray-700">Travel Model Courseはあなたが住んでいる町やお気に入りのスポットを投稿するサービスです</p>
        </div>
      </div>
    </div>
  </body>
</div>
