<% content_for(:title, t('.title')) %>
<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16" style="margin-top: 20px;">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"><%= t('.title') %></h2>
    </div>

    <div class="mt-8"></div>

    <% if @model_courses.present? %>
      <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
        <%= render partial: 'model_courses/model_course' %>
      </div>
    <% else %>
      <div class="flex flex-col justify-center items-center w-screen">
        <p class="text-2xl mb-4"><%= t('.no_result') %></p>
        <div style="margin-top: 8rem;"></div>
      </div>
    <% end %>

    <div class="flex justify-center mt-4">
      <%= paginate @model_courses %>
    </div>
  </div>
</div>
