@tailwind base;
@tailwind components;
@tailwind utilities;
@import './custom.css';
@import './count.css';

body {
    background-image: url('body.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
}

.footer {
    background-image: url('back.png');
    background-size: cover;
}

.header {
    background-image: url('back.png');
    background-size: cover;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 1000;
}

.bg-custom {
    background-color:#F3EEE8; 
}

.bg-custom-1 {
    background-color:#333944
}

.pagination a {
    color: #333944;
    font-size: 25px;
}

.pagination .current {
    background-color: #1fb2a6;
    color: #FFFFFF;
    font-size: 25px;
}

.list-group {
    border: 1px solid #ccc;
    background-color: white;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.list-group-item {
    padding: 8px;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f0f0f0;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 他の要素の上に表示されるようにz-indexを設定 */
}
