#total-spot-items-count-badge {
    background-color: red;
    color: white;
    border-radius: 50%; /* 50%の値を指定して正確な円形になります */
    width: 20px; /* 幅を調整してください */
    height: 20px; /* 高さを調整してください */
    text-align: center;
    line-height:13px; /* 高さと同じ値に設定して中央にテキストを配置します */
    font-size: 12px; /* テキストのフォントサイズを調整してください */
    position: absolute;
    top: 10px; /* 上方向に少しオフセットして配置 */
    right: 10px; /* 右方向に少しオフセットして配置 */
  }