.list-group {
    border: 1px solid #ccc;
    background-color: white;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.list-group-item {
    padding: 8px;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f0f0f0;
}

#search-form {
    display: flex;
    align-items: center;
    background-color: transparent;
}

#search-form .px-4 {
    background-color: white;
    color: #545454;
}

#search-form .btn {
    margin-left: 8px;
}

#map { height: 300px; 
    width: 40%;
}

.table-sortable {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.table-sortable li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: grab;
}

.mr-8 {
    margin-right: 0.5rem;
}

.image-thumbnail {
    width: 200px;
    height: 300x;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.white-background {
    background-color: white;
}

.white-background select {
    background-color: #e8e8e8;
    color: #545454;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu-item {
    padding: 0.25rem 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.ui-menu-item:last-child {
    border-bottom: none;
}
