<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="flex justify-center mt-4 space-x-4">
    <%= link_to '観光地一覧に戻る', tourist_spots_path, class: 'btn btn-accent' %>
    <%= link_to 'モデルコースを作成する', new_recommended_spot_path, class: 'btn btn-accent' %>
  </div>
  <%= render 'list' %>
</div>
